<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ISRAEL ALVES</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>	
	<div class="wrapper" >
		<header>

			<h1>Israel Alves</h1>
			<h4>front end programmer</h4>

		</header>

		<div id="menu_top">	
			<ul>
				<li><a href="#">Contato</a></li>
				<li><a href="#">Portifolio</a></li>
				<li><a href="posts.html">Posts</a></li>
				<li><a href="#">Vida Acadêmica</a></li>
				<li><a href="index.html">Sobre</a></li>
			</ul>
		</div>
		<nav>
			<ul>
				<li><a href="curriculo.html">Curriculo</a></li>
				<li><a href="Hobbies.html">Hobbies</a></li>
				<li><a href="#">Donwloads</a></li>
				<li><a href="#">Links</a></li>
			</ul>
		</nav>
		<div class="conteiner">
			<h1>Israel Alves Nogueira</h1>

			<h4>Perfil Profissional:</h4>
			<p>Conhecimento Avançado em Informática, dinâmico gosto e tenho facilidade em trabalhar em equipe, boa comunicação, fácil habilidade em palestrar e exercer atividades em público.</p>
			<h4>Formação Escolar:</h4>

			<p>Ensino Médio Completo (Escola Estadual Cidade dos Meninos)
				Sistemas de Informação (Anhanguera) 4º período</p>

				<h4>Cursos Extracurriculares:</h4>

				<dl>
					<dt>Design Responsivo</dt>
					<dd>Em andamento
						Instituição: Treina Web</dd>


					<dt>Programação Orientada a Objetos (Java)</dt>
										<dd>Período: Fev/2013 à Jun/2013
											Instituição: Faculdade Anhanguera.</dd>

					<dt>Desenvolvimento Web (Front - End) CSS, HTML, JavaScript, JQuery)  
										<dd>Período: Jan/2013
											Instituição: Faculdade Una.</dd>

					<dt>Banco de dados (MYSQL-server)</dt>
										<dd>Período: Jul/2012 à Nov/2012
											Instituição: Faculdade Anhanguera.</dd>

					<dt>Projeto de sistemas (UML)</dt>
										<dd>Período: Jul/2012 à Nov/2012
											Instituição: Faculdade Anhanguera</dd>

					</dl>







				</div><!--CONTEINER-->

				<footer> &copy Israel Alves	</footer>

			</div>




		</body>
		</html> 