<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ISRAEL ALVES</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" type="text/css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>	
	<div class="wrapper" >
		<header>

			<h1>Israel Alves</h1>
			<h4>front end programmer</h4>

		</header>

		<div id="menu_top">	
			<ul>
				<li><a href="#">Contato</a></li>
				<li><a href="#">Portifolio</a></li>
				<li><a href="posts.html">Posts</a></li>
				<li><a href="#">Vida Acadêmica</a></li>
				<li><a href="index.html">Sobre</a></li>
			</ul>
		</div>
		<nav>
			<ul>
				<li><a href="curriculo.html">Curriculo</a></li>
				<li><a href="Hobbies.html">Hobbies</a></li>
				<li><a href="#">Donwloads</a></li>
				<li><a href="#">Links</a></li>
			</ul>
		</nav>
		<div class="conteiner">
			<dl class="hobbies">
				<dt>Web Design</dt>
				<dd>Fascinado por WebDesign e desenvolvimento Web Front End</dd>

				<dt>JavaScript</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, numquam debitis corrupti voluptates earum ratione ipsum minus odio at quia dolorum voluptas doloremque possimus mollitia nobis ab error nulla cumque.</dd>

				<dt>Css</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, necessitatibus, eius incidunt quaerat alias nisi nihil totam molestiae expedita sequi accusantium nobis dolorum amet placeat tempora sed cumque minima molestias?</dd>

				<dt>PHP</dt>
				<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, optio, commodi nulla consectetur saepe laborum tempora dignissimos inventore minima suscipit assumenda voluptas illo consequatur ut eaque. Consectetur, odit blanditiis eius!</dd>



			</dl>


		</div><!--CONTEINER-->

		<footer> &copy Israel Alves	</footer>

	</div>




</body>
</html> 